.app{
  height: 100vh;
  width: 100%;
  background-color: rgb(182, 228, 73);
}
.count{
  height: 100vh;
  width: 100%;
  margin: 20px;
  padding: 20px;
  justify-content: center;
  align-items: center;
}

button{
  margin: 20px;
  padding: 10px;
  font-size: 50px;
}

h1{
  font-size: 100px;
  background-color: rgb(85, 90, 94);
  width: fit-content;
  padding: 10px 80px;
  margin: 20px;
}

.obj{
  height: 100vh;
  width: 100%;
  background-color: gray;
}