html, body{
  height: 100%;
  width: 100%;
  background-color: black;
  color: white;
}
h1{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
  white-space: nowrap;
  text-decoration: underline;
}

.nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
  background-color: rgb(29, 139, 223);
  color: black;
  border-radius: 5px;
}

.nav div{
  display: flex;
  align-items: center;
  gap: 40px;
  color: white;
}