* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Helvetica neue';
  color: #fff;
}

body {
  color: #111;
} 
html,
body{
  height: 100%;
  width: 100%;
}

.parent {
  display: flex;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
}

.card{
  width: 300px;
  border: 2px solid white;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  background-color: #333;
}

.card img{
  height: 140px;
  width: 140px;
  object-fit: cover;
  border-radius: 50%;
}
.card p {
  margin: 20px ;
}

.card button{
  padding: 10px 20px;
  background-color: white;
  color: black;
  border: none;
  border-radius: 5px;
}